body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to up, red, yellow);
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  padding: 1%;
  background-color: rgba(31, 75, 114, 0.514);
  color: white;
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.664) 1px;
}


select{
  width: 80%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.795);
}

#resultadoBusca{
  display: flex;
  flex-direction: column;
  align-content: center;  
  background-color: rgba(15, 37, 56, 0.507);
  margin-top: 20px;
  width: 95%;
  height: 50%;
  border-radius: 5px;

}

ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-items: center;


  justify-items: center;
}

li{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  justify-items: center;
  margin-bottom: 5px;
  margin-left: 0;
  width: 90%;
}

span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.span-modelo{
  font-size: 15px;
}

.span-valor{
  width:fit-content;
  font-size: 35px;
}

.ocultado{
  display: none;
}

.resultado-none{
  display: none;
  background-color: black;
}